<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th=http://www.thymeleaf.org>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻管理</title>
<link rel="stylesheet" type="text/css" th:href="@{css/Iframe.css}" />
<link rel="stylesheet" th:href="@{utilLib/bootstrap.min.css}" type="text/css" media="screen" />
</head>

<body>
<span class="cp_title">新闻管理</span>
<div class="add_cp">
	<a href="">+添加新闻</a>
</div>
<div class="table_con">
	<table>
    	<tr class="tb_title">
        	<td width="10%">ID</td>
            <td width="30%">标题</td>
            <td width="12%">来源</td>
            <td width="16%">时间</td>
            <td width="26%">操作</td>
        </tr>
        <tr th:each="news : ${news}">
        	<td width="10%" th:text="${news.id}"></td>
            <td width="30%" th:text="${news.title}"></td>
            <td width="12%" th:text="${news.source}"></td>
            <td width="16%" th:text="${news.time}"></td>
            <td width="26%">
            	<input class="bj_btn" type="button" value="编辑" />
                <input class="sj_btn" type="button" value="添加" />
                <input class="del_btn" type="button" value="删除" />
            </td>
        </tr>   
    </table>
</div>
</body>
</html>
